.env
.env.*
!.env.example

.ssh/
.cache/*
!.cache/.keep

data/*
!data/.keep

node_modules/
output/
release/
extensions/

__pycache__/
*.pyc

*.log
server.out.log
server.err.log
*.zip

.DS_Store
Thumbs.db
